/* Color */
.navy_blue{
color: #1C1E53;
}


/* Dribble */
.rose{
color: #E62872;
}


/* Color */
.lightBlue{
color: #F5FCFF;  
}



/* Color */
.dark_blue{
color: #282938;
}


/* Color */
.lightPurple{
color: #5E3BEE;
}